<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Travel App</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
<body>
    <section class="container">
        <div id="left">
            <img class="HeadImg"/>
        </div>
        <div id="right">
            <div class="formarea" id="head"><h1>Plan Your Trip</h1><hr></div>

            <form class ="formarea" id="body">
                <div><label for="city">City of Destination</label></div>
                <div><input type="text" placeholder="Which city you want to check" id="city"rows="1" cols="60"></div>
                <div><label for="date">Start Date of Your Trip</label></div>
                <div><input type="date" placeholder="Pick a date" id="date" rows="1" cols="60"></div>
                <button id="submit" type = "submit"> Submit </button>
             </form>  
             <br> <img id="globe">     
        </div>

        <footer>
            @Copyright- Carmen Chen
        </footer>
    </section>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        } 
    </script>
</body>



</html>